<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Heroes</title>
</head>
<body>
    <div class="inIndex">
        <h1 class="tituloIndex">CONOCÉ LOS HEROES DE LA INFORMÁTICA</h1>
    
        <div class="galeriaIndex">      
            <ul class="galeriaIndexUl">
                <li>      
                    <a href="babbage">
                        <img src="/img/CharlesBabbage.jpg" alt="imagen" class="imagenHeroe">                    
                    </a>
                    <h4>Charles Babbag</h4>
                </li>
                <li>                
                    <a href="berners-lee">
                        <img src="/img/Sir_Tim_Berners.jpg" alt="imagen" class="imagenHeroe">                    
                    </a>
                    <h4>John Berners-Lee</h4>
                </li>
                <li>                
                    <a href="clarke"> 
                        <img src="/img/Edmund_Clarke.jpg" alt="imagen" class="imagenHeroe">                    
                    </a>
                    <h4>Edmund Clarke</h4>
                </li>
                <li>                
                    <a href="hamilton">
                        <img src="/img/Hamilton.jpg" alt="imagen" class="imagenHeroe">    
                    </a>
                    <h4>Margaret Hamilton</h4>
                </li>
                <li>                
                    <a href="hopper">
                        <img src="/img/hopper.jpg" alt="imagen" class="imagenHeroe">                    
                    </a>
                    <h4>Grace Murray Hopper</h4>
                </li>
                <li>
                    <a href="lovelace">
                        <img src="/img/Ada.jpg" alt="imagen" class="imagenHeroe">                    
                    </a>
                    <h4>Ada Lovelace</h4>
                </li>
                <li>                
                    <a href="turing">
                        <img src="/img/turing.jpg" alt="imagen" class="imagenHeroe">                    
                    </a>
                    <h4>Alan Turing</h4>
                </li>
            </ul>
        </div>

    </div>
    
</body>
</html>